@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<div class="container-fluid">
    @using (Html.BeginForm("UserLogin", "Login"))
    {
        <label for="username"><b>Email</b></label>
        <div class="form-group">
            <input type="text" placeholder="Email" name="email" id="username" required>
        </div>
        <label for="password"><b>Password</b></label>
        <div class="form-group">
            <input type="password" placeholder="Password" name="password" id="password" required>
        </div>
        <input type="submit" class="btn btn-default" value="Login" />
    }
</div>