
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>



@using (Html.BeginForm("UserLogin", "Login"))
{
<div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="submit" class="btn btn-default" value=" Login"/>
</div>
    
    
}

