<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1>Error</h1>
            <h2>An error occurred while processing your request.</h2>
            <p>The developers have been notified about the error. If this error prevents you from carrying out an urgent task, please contact your practitioner.</p>
        </hgroup>
    </body>
</html>