<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>

		<add key="ByApi" value="https://dawa.aws.dk/" />
		<add key="ProjectApi" value="http://localhost:52575/" />
		<!--<add key="ProjectApi" value="https://localhost:44375/" />-->
	</appSettings>
</configuration>